<a href="https://colab.research.google.com/github/Techvolutions05/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/ASA_LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [3]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [4]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23040 entries, 0 to 23039
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         23040 non-null  object
 1   NEIGHBORHOOD                    23040 non-null  object
 2   BUILDING_CLASS_CATEGORY         23040 non-null  object
 3   TAX_CLASS_AT_PRESENT            23039 non-null  object
 4   BLOCK                           23040 non-null  int64
 5   LOT                             23040 non-null  int64
 6   EASE-MENT                       0 non-null      float64
 7   BUILDING_CLASS_AT_PRESENT       23039 non-null  object
 8   ADDRESS                         23040 non-null  object
 9   APARTMENT_NUMBER                5201 non-null   object
 10  ZIP_CODE                        23039 non-null  float64
 11  RESIDENTIAL_UNITS               23039 non-null  float64
 12  COMMERCIAL_UNITS                23039 non-null  float64
 13  TOTAL_UNITS                     23039 non-null  float64
 14  LAND_SQUARE_FEET                22987 non-null  object
 15  GROSS_SQUARE_FEET               23039 non-null  float64
 16  YEAR_BUILT                      23005 non-null  float64
 17  TAX_CLASS_AT_TIME_OF_SALE       23040 non-null  int64
 18  BUILDING_CLASS_AT_TIME_OF_SALE  23040 non-null  object
 19  SALE_PRICE                      23040 non-null  int64
 20  SALE_DATE                       23040 non-null  object
dtypes: float64(7), int64(4), object(10)
memory usage: 3.7+ MB

In [6]:
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [7]:
# sale price more than 100 thousand and less than 2 million.
df = df[(df['SALE_PRICE'] > 100000) & (df['SALE_PRICE'] < 2000000)]
print(min(df['SALE_PRICE']), max(df['SALE_PRICE']))

100044 1999877

In [8]:
# Do train/test split using date data
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE'], infer_datetime_format=True)

# Use data from April 2019 to test.
cut = pd.to_datetime('04/01/2019')

In [9]:
# splitting the train and test dates

train = df[df['SALE_DATE'] < cut]
test =df[df['SALE_DATE'] >= cut]

In [10]:
train.shape, test.shape

((10442, 21), (2969, 21))

In [11]:
df.nunique()

BOROUGH                               5
NEIGHBORHOOD                         11
BUILDING_CLASS_CATEGORY              41
TAX_CLASS_AT_PRESENT                 10
BLOCK                              5980
LOT                                1160
EASE-MENT                             0
BUILDING_CLASS_AT_PRESENT           105
ADDRESS                           13346
APARTMENT_NUMBER                   1018
ZIP_CODE                            183
RESIDENTIAL_UNITS                    32
COMMERCIAL_UNITS                     18
TOTAL_UNITS                          37
LAND_SQUARE_FEET                   2299
GROSS_SQUARE_FEET                  2485
YEAR_BUILT                          131
TAX_CLASS_AT_TIME_OF_SALE             3
BUILDING_CLASS_AT_TIME_OF_SALE      105
SALE_PRICE                         2764
SALE_DATE                           103
dtype: int64

In [12]:
card_features = ['BUILDING_CLASS_CATEGORY', 'BLOCK', 'LOT', 'EASE-MENT', 'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE', 'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS', 'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT', 'BUILDING_CLASS_AT_TIME_OF_SALE', 'SALE_PRICE', 'SALE_DATE'] 
target = 'SALE_PRICE'

features = train.columns.drop([target] + card_features)

X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [13]:
import category_encoders as ce

# one-hot encoding of categorical features.
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [14]:
X_train.shape

(10442, 27)

In [15]:
X_train.head()

    BOROUGH_3  BOROUGH_4  ...  TAX_CLASS_AT_PRESENT_1D  TAX_CLASS_AT_TIME_OF_SALE
44          1          0  ...                        0                          1
61          0          1  ...                        0                          1
66          0          0  ...                        0                          2
67          0          0  ...                        0                          2
71          0          0  ...                        0                          2

[5 rows x 27 columns]

In [16]:
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

# feature selection with SelectKBest.
for i in range(1, len(X_train.columns) + 1):
  selector = SelectKBest(score_func=f_regression, k=i)

# instantiating the model
  lr_model = LinearRegression()

# fitting the selected feature
  X_train_selected = selector.fit_transform(X_train, y_train)
  X_test_selected = selector.transform(X_test)

  # mean absolute error for the test set.
  lr_model.fit(X_train_selected, y_train)
  y_pred = lr_model.predict(X_test_selected)
  mae = mean_absolute_error(y_test, y_pred)
  print(f'Test MAE with {i} features: {mae:.0f}')

Test MAE with 1 features: 317953
Test MAE with 2 features: 314520
Test MAE with 3 features: 304732
Test MAE with 4 features: 305201
Test MAE with 5 features: 302822
Test MAE with 6 features: 303006
Test MAE with 7 features: 302714
Test MAE with 8 features: 282662
Test MAE with 9 features: 282531
Test MAE with 10 features: 282001
Test MAE with 11 features: 281676
Test MAE with 12 features: 281137
Test MAE with 13 features: 280794
Test MAE with 14 features: 280660
Test MAE with 15 features: 280728
Test MAE with 16 features: 280663
Test MAE with 17 features: 280824
Test MAE with 18 features: 280630
Test MAE with 19 features: 280722
Test MAE with 20 features: 279714
Test MAE with 21 features: 276294
Test MAE with 22 features: 276310
Test MAE with 23 features: 276337
Test MAE with 24 features: 275989
Test MAE with 25 features: 276023
Test MAE with 26 features: 275981
Test MAE with 27 features: 276057

In [17]:
from sklearn.preprocessing import scale
# feature scaling. 

X_train_temp = scale(X_train)
X_test_temp = scale(X_test)

y_train_temp = scale(y_train)
y_test_temp = scale(y_test)

In [18]:
X_train_scaled = pd.DataFrame(X_train_temp, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_temp, columns=X_test.columns)

y_train_scaled = pd.DataFrame(y_train_temp)
y_test_scaled = pd.DataFrame(y_test_temp)

X_train_scaled

       BOROUGH_3  BOROUGH_4  ...  TAX_CLASS_AT_PRESENT_1D  TAX_CLASS_AT_TIME_OF_SALE
0       1.662600  -0.726601  ...                -0.054568                  -0.821978
1      -0.601468   1.376272  ...                -0.054568                  -0.821978
2      -0.601468  -0.726601  ...                -0.054568                   0.617173
3      -0.601468  -0.726601  ...                -0.054568                   0.617173
4      -0.601468  -0.726601  ...                -0.054568                   0.617173
...          ...        ...  ...                      ...                        ...
10437  -0.601468  -0.726601  ...                -0.054568                  -0.821978
10438  -0.601468  -0.726601  ...                -0.054568                  -0.821978
10439  -0.601468  -0.726601  ...                -0.054568                  -0.821978
10440  -0.601468  -0.726601  ...                -0.054568                  -0.821978
10441  -0.601468   1.376272  ...                -0.054568                  -0.821978

[10442 rows x 27 columns]

In [19]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

alpha_mse = {}

#  Fit a ridge regression model with multiple features
for alpha in range(0, 200, 1):
  ridge_reg_split = Ridge(alpha=alpha).fit(X_train_scaled, y_train_scaled)
  mse = mean_squared_error(y_test_scaled, ridge_reg_split.predict(X_test_scaled))
  alpha_mse[alpha] = mse

print(sorted(alpha_mse.items(), reverse=True))

[(199, 0.7624180816838206), (198, 0.762422720976874), (197, 0.7624273726015773), (196, 0.7624320365678612), (195, 0.7624367128856118), (194, 0.7624414015646707), (193, 0.7624461026148318), (192, 0.7624508160458414), (191, 0.7624555418673951), (190, 0.762460280089137), (189, 0.7624650307206581), (188, 0.7624697937714936), (187, 0.7624745692511221), (186, 0.7624793571689634), (185, 0.762484157534376), (184, 0.762488970356656), (183, 0.762493795645034), (182, 0.7624986334086741), (181, 0.7625034836566706), (180, 0.7625083463980463), (179, 0.7625132216417503), (178, 0.7625181093966552), (177, 0.7625230096715545), (176, 0.76252792247516), (175, 0.7625328478160995), (174, 0.7625377857029139), (173, 0.7625427361440537), (172, 0.7625476991478765), (171, 0.7625526747226441), (170, 0.7625576628765192), (169, 0.7625626636175614), (168, 0.7625676769537244), (167, 0.762572702892853), (166, 0.7625777414426774), (165, 0.7625827926108125), (164, 0.7625878564047504), (163, 0.7625929328318594), (162, 0.7625980218993772), (161, 0.7626031236144089), (160, 0.7626082379839204), (159, 0.7626133650147346), (158, 0.7626185047135268), (157, 0.7626236570868185), (156, 0.762628822140973), (155, 0.7626339998821894), (154, 0.7626391903164976), (153, 0.7626443934497517), (152, 0.7626496092876234), (151, 0.7626548378355968), (150, 0.7626600790989609), (149, 0.7626653330828028), (148, 0.7626705997920004), (147, 0.7626758792312152), (146, 0.7626811714048845), (145, 0.7626864763172124), (144, 0.7626917939721628), (143, 0.7626971243734496), (142, 0.7627024675245272), (141, 0.7627078234285822), (140, 0.7627131920885223), (139, 0.7627185735069663), (138, 0.7627239676862333), (137, 0.762729374628331), (136, 0.762734794334945), (135, 0.7627402268074251), (134, 0.7627456720467731), (133, 0.7627511300536295), (132, 0.7627566008282591), (131, 0.7627620843705366), (130, 0.7627675806799313), (129, 0.7627730897554906), (128, 0.7627786115958243), (127, 0.7627841461990852), (126, 0.7627896935629523), (125, 0.7627952536846117), (124, 0.762800826560735), (123, 0.7628064121874591), (122, 0.7628120105603645), (121, 0.7628176216744506), (120, 0.762823245524113), (119, 0.7628288821031172), (118, 0.7628345314045705), (117, 0.7628401934208965), (116, 0.7628458681438028), (115, 0.7628515555642519), (114, 0.7628572556724269), (113, 0.7628629684576975), (112, 0.7628686939085847), (111, 0.7628744320127205), (110, 0.76288018275681), (109, 0.7628859461265872), (108, 0.7628917221067711), (107, 0.7628975106810183), (106, 0.7629033118318733), (105, 0.7629091255407153), (104, 0.7629149517877037), (103, 0.7629207905517187), (102, 0.7629266418102989), (101, 0.7629325055395763), (100, 0.762938381714206), (99, 0.7629442703072932), (98, 0.7629501712903136), (97, 0.7629560846330334), (96, 0.762962010303418), (95, 0.762967948267541), (94, 0.762973898489484), (93, 0.7629798609312314), (92, 0.7629858355525582), (91, 0.7629918223109117), (90, 0.7629978211612825), (89, 0.7630038320560703), (88, 0.7630098549449391), (87, 0.7630158897746633), (86, 0.7630219364889627), (85, 0.7630279950283265), (84, 0.7630340653298254), (83, 0.7630401473269101), (82, 0.7630462409491946), (81, 0.7630523461222265), (80, 0.7630584627672367), (79, 0.7630645908008753), (78, 0.7630707301349227), (77, 0.7630768806759826), (76, 0.76308304232515), (75, 0.7630892149776539), (74, 0.7630953985224712), (73, 0.7631015928419108), (72, 0.763107797811162), (71, 0.76311401329781), (70, 0.7631202391613062), (69, 0.7631264752523977), (68, 0.7631327214125068), (67, 0.7631389774730561), (66, 0.7631452432547357), (65, 0.7631515185667025), (64, 0.7631578032057116), (63, 0.7631640969551636), (62, 0.7631703995840635), (61, 0.763176710845884), (60, 0.7631830304773153), (59, 0.7631893581968962), (58, 0.7631956937035068), (57, 0.7632020366747078), (56, 0.763208386764912), (55, 0.7632147436033629), (54, 0.7632211067918959), (53, 0.7632274759024607), (52, 0.7632338504743661), (51, 0.763240230011218), (50, 0.7632466139775033), (49, 0.7632530017947783), (48, 0.763259392837399), (47, 0.7632657864277334), (46, 0.7632721818307815), (45, 0.7632785782481113), (44, 0.7632849748110093), (43, 0.7632913705727289), (42, 0.7632977644996842), (41, 0.7633041554614317), (40, 0.7633105422192291), (39, 0.7633169234129361), (38, 0.7633232975459701), (37, 0.7633296629679682), (36, 0.7633360178547408), (35, 0.7633423601850099), (34, 0.7633486877133132), (33, 0.7633549979383165), (32, 0.7633612880656058), (31, 0.7633675549637977), (30, 0.7633737951125404), (29, 0.7633800045405837), (28, 0.7633861787516617), (27, 0.7633923126352846), (26, 0.7633984003587376), (25, 0.763404435235528), (24, 0.7634104095640543), (23, 0.7634163144283796), (22, 0.7634221394503131), (21, 0.7634278724783987), (20, 0.7634334991943265), (19, 0.7634390026101442), (18, 0.7634443624194123), (17, 0.7634495541506456), (16, 0.7634545480495517), (15, 0.7634593075840076), (14, 0.7634637874161146), (13, 0.7634679306089446), (12, 0.7634716647146157), (11, 0.7634748961960267), (10, 0.763477502317101), (9, 0.7634793191104688), (8, 0.7634801231580804), (7, 0.7634796035046295), (6, 0.7634773179783434), (5, 0.7634726266576312), (4, 0.7634646032419261), (3, 0.7634520019342879), (2, 0.7634339340039097), (1, 0.7634171820203681), (0, 1.6733757593089698e+24)]